@import url("../config.css");

.admin-nav {
    background: var(--color-black);
    color: var(--color-white);
    padding: 0 1em;
    padding-top: 4em;
    height: 100vh;
    width: auto;
}

.admin-nav-title {
    font-size: var(--font-size-medium);
    margin-bottom: 1em;
}

.admin-nav-list {
    list-style: none;
    padding: 0;
}

.admin-nav-list li {
    padding: 1em;
    cursor: pointer;
}

.admin-nav-list li:hover {
    border-radius: 10px;
    background-color: var(--color-orange);
}

@media (max-width: 920px) {
    .admin-nav {
        text-align: center;
        height: auto;
    }
}