@import url("../styles/config.css");

.filledBtn {
    margin: 1em;
    padding: 0;
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 5px;
    color: var(--color-white);
    background: var(--color-purple);
    transition: background-color 0.3s ease;
}

.filledBtn:hover {
    cursor: pointer;
    background-color: var(--color-black);
}

.hollowBtn {
    padding: 0;
    margin: 1em;
    height: 40px;
    width: 150px;
    border: 2px solid var(--color-purple);
    border-radius: 5px;
    color: var(--color-black);
    background: var(--color-white);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.hollowBtn:hover {
    color: var(--color-white);
    background: var(--color-purple);
    cursor: pointer;
}

.iconBtn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 1em;
    height: 40px;
    width: auto;
    padding: 0 16px;
    border: none;
    border-radius: 5px;
    color: var(--color-white);
    background: var(--color-black);
    transition: background-color 0.3s ease;
}

.iconBtn:hover {
    cursor: pointer;
    background-color: var(--color-orange);
}

.symbolOnlyBtn {
    margin: 1em;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    color: var(--color-purple);
    background: var(--color-white);
    transition: background-color 0.3s ease;
}

.symbolOnlyBtn:hover {
    cursor: pointer;
    background-color: var(--color-orange);
    color: var(--color-white);
}

.button-icon {
    margin-right: 8px; /* Espaciado entre icono y texto */
}

.button-label {
    font-size: var(--font-size-small);
}

@media (max-width: 1200px) {
    .filledBtn, .hollowBtn{
        width: 140px;
    }

    .symbolOnlyBtn{
        display: none;
    }
}