@import url('/src/styles/config.css');

.user-link{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navUser {
    top: 0;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    background-color: var(--color-white);
    z-index: 100;
}

.logo {
    padding-left: 0.5em;
    padding-top: 0.5em;
}

.logo img {
    width: 200px;
}

.user-photo{
    background-color: var(--color-black);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
}

.link-user{
    text-decoration: none;
    color: var(--color-black);
}

.link-user:hover{
    color: var(--color-purple);
}

.user-name{
    margin-right: 0.5em;
    text-align: right;
    width: 15vw;
}

.users-options{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.userNav-options{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.userNav-options li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 60vw;
}

.header-nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.header-nav ul li{
    width: auto;
}

.Hmenu{
    display: none;
}



.header-nav ul li a {
    width: auto;
    font-size: var(--font-size-medium);
    color: var(--color-black);
    margin: 0 1.5em;
    text-decoration: none;
    transition: color 0.3s ease;
}

.header-nav ul li a:hover {
    color: var(--color-orange);
}

.header-nav ul li a::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--color-orange);
    transition: width 0.5s ease;
}

.header-nav ul li a:hover::after {
    width: 100vw;
}

.hamburger {
    color: var(--color-black);
    display: none;
    background: none;
    border: none;
    font-size: var(--font-size-large);
    cursor: pointer;
}

.hamburger:hover{
    background-color: var(--color-white);
}

.loginBtn {
    display: flex;
    flex-direction: row;
    height: auto;
    margin-left: 3em;
}

.Hmenu{
    display: none;
}

@media (max-width: 950px) {

    .Hmenu{
        display:block;
    }
    .Hmenu2{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .users-options{
        flex-direction: row-reverse;
        gap: 10%;
    }

    .logout{
        display: none;
    }

    .user-photo{
        margin-bottom: 1em;
    }

    .user-name{
        margin: 0;
        padding: 0;
        margin-bottom: 1em;
        text-align: left;
        width: auto;
    }

    .logo {
        padding-top: 1em;
        padding: 0.5em;
    }

    .logo img {
        width: 100px;
    }

    .navUser {
        width: 100vw;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center; /* Centra el contenido */
    }

    .header-nav {
        display: none;
        flex-direction: column;
        background-color: var(--color-white);
        position: absolute;
        left: 0;
    }

    .header-nav.open {
        width: 100vw;
        display: flex;
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 40px;
    }

    .header-nav ul {
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .header-nav ul li {
        margin: 0.5em 0;
    }

    .hamburger {
        display: block;
        z-index: 120; 
        margin: 0.5em;
    }

    .loginBtn {
        display: none;
    }
}