@import url('../styles/config.css');

.rooms-page {
    padding: 20px;
    padding-top: 5em;
}

.img-room {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-room img {
    width: 20vw;
    border-radius: 1em;
}

.title {
    color: var(--color-purple);
    font-size: var(--font-size-xlarge);
}


.container-opt fieldset {
    display: flex;
    flex-direction: row;
}

.container-opt fieldset label {
    display: flex;
    flex-direction: row;
}

.container-opt fieldset label input {
    width: 1em;
    ;
}

.rooms-details {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.take-a-look-form {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 80%;
}

.take-a-look-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.take-a-look-form label {
    font-weight: bold;
}

.take-a-look-form select,
.take-a-look-form input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.take-a-look-form fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
}

.take-a-look-form legend {
    font-weight: bold;
}

.btn-submit {
    padding: 10px 15px;
    background-color: #6200ea;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-submit:hover {
    background-color: #4500b5;
}

.view-your-rooms {
    flex: 1;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.room-preview {
    padding: 20px;
    border: 1px dashed #ccc;
    border-radius: 5px;
    width: 57.5vw;
    text-align: center;
}

.fc .fc-toolbar-chunk {
    display: flex;
    flex-direction: row;
}

@media (max-width: 900px) {
    .rooms-page {
        display: flex;
        flex-direction: column;
    }

    .img-room img {
        width: 60vw;
    }

    .room-preview {
        width: 80vw;
    }

    .rooms-details {
        display: flex;
        flex-direction: column-reverse;
    }

    .container-opt fieldset {
        display: flex;
        flex-direction: column;
    }

    .fc .fc-toolbar-title {
        font-size: 1em;
    }

    .fc .fc-toolbar-chunk {
        display: flex;
        flex-direction: row;
    }

    .fc .fc-button {
        font-size: 0.8rem;
        padding: 4px 8px;
    }

}