@import url('../styles/config.css');

.search-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2em 0px;
}

.header2 select {
    margin-right: 1em ;
    height: 3em;
    padding: 0.5em;
    border: 1px solid var(--color-gray);
    border-radius: 4px;
    background-color: var(--color-white);
}

.search-bar-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin: 10px;
    height: auto;
}

.search-input {
    padding: 3px 15px;
    border: 2px solid var(--color-black);
    border-radius: 5px;
    width: 50vw;
    height: 2em;
    font-size: 16px;
}

select{
    margin-right: 1em;
    height: 3em;
}

.search-input:focus{
    border: 2px solid var(--color-purple);
}

.search-button {
    padding: 10px 20px;
    background-color: var(--color-purple);
    color: var(--color-white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--font-size-medium);
    width: 12em;
    height: 3.5em;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: var(--color-black);
}
@media (max-width: 920px) {
    .search-bar-section{
        display: flex;
        flex-direction: column;
    }
}