@import url("./config.css");

.reset-password-container,
.set-new-password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 1em;
    border-radius: 5px;
    width: 60vw;
}

input:focus {
    border-color: #007bff;
}

.error-message {
    color: red;
    font-size: 14px;
}

.success-message {
    color: green;
    font-size: 14px;
}
