.signin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--color-white);
}

.input{
    height: 2em;
}

.signin-card {
    margin: 6em 0;
    width: 100%;
    max-width: 30vw;
    padding: 20px;
    border: 1px solid var(--color-gray);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: var(--color-white);
}

.signin-avatar {
    font-size: 50px;
    color: var(--color-purple);
    margin-bottom: 10px;
}

.signin-title {
    font-size: var(--font-size-xlarge);
    color: var(--color-purple);
    margin: 10px 0;
}

.signin-subtitle {
    font-size: var(--font-size-medium);
    color: var(--color-black);
    margin-bottom: 20px;
}

.signin-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
    max-width: 94%;
}

.input-group label {
    font-size: var(--font-size-small);
    color: var(--color-black);
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--color-gray);
    border-radius: 4px;
    font-size: var(--font-size-small);
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.checkbox-group input{
    width: 1em;
}

.checkbox-group input {
    margin-right: 5px;
}

.signin-links {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.signin-links a {
    font-size: var(--font-size-small);
    color: var(--color-purple);
    text-decoration: none;
    transition: color 0.3s;
}

.signin-links a:hover {
    color: var(--color-orange);
}

@media (max-width: 900px) {
    .signin-card{
        margin: 8em 0;
        min-width: 80vw;
    }
}